# core LLM + Langchain eco system

langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-openai>=0.2.0
langchain-google-genai>=0.2.0
streamlit>=1.0.0

# Tavily search tool

tavily-python>=0.3.0

# web scrapping

beautifulsoup4>=4.12.0
readability-lxml
trafilatura
requests>=2.31.0    
lxml>=5.0.0    

# Environment variables

python-dotenv>=1.0.0


